@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&family=Oswald&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Oswald", sans-serif;
  background-color: #fff;
  background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
}

h1,
h2,
h3 {
  font-family: "Bebas Neus", sans-serif;
  text-transform: uppercase;
  color: #f0f0f0;
  letter-spacing: 2px;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

ul {
  list-style: none;
}
